.lk-appointment__card-list{
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
}

.lk-appointment__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3066BE;
  border-radius: 30px;
  height: 200px;
  width: 400px;
  position: relative;
  margin-right: 25px;
  padding: 25px;
  box-sizing: border-box;
  transition: .3s;
  margin-bottom: 25px;
  .button{
    align-self: flex-end;
    z-index: 10;
  }
}

.lk-appointment__card-name{
  font-weight: 900;
  color: white;
  font-size: 24px;
  z-index: 10;
}

.lk-appointment__card-img{
  position: absolute;
  bottom: 0;
  z-index: 0;

}

.lk-appointment__select{
  margin-top: 16px;
  width: fit-content;
}

.nice-select li{
  font-family: Golos, sans-serif;
}

.lk-appointment__select-title{
  margin-top: 16px;
}

.lk-appointment__select-block-1, .lk-appointment__select-block-2, .lk-appointment__select-block-3{
  display: flex;
  flex-direction: column;
  width: 400px;
  opacity: 0;
  transition: .3s;
  transform: translateY(15px);
  pointer-events: none;

  &.active{
    transform: none;
    pointer-events: auto;
    opacity: 1;
  }
}

.lk-appointment{
  display: flex;
  flex-direction: column;

  &>.button{
    margin-top: 16px;
    transition: .3s;
    opacity: 0;
    pointer-events: none;

    &.active{
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.lk-appointment__card input{
  height: 0;
  width: 0;
  position: absolute;
}

.lk-appointment__card label{
  font-family: Golos, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  background: #FF9292;
  padding: 10px 30px;
  width: fit-content;
  align-self: flex-end;
  z-index: 10;
  cursor: pointer;
}
