@font-face {
  font-family: 'Golos';
  src: url("../fonts/GolosText-Regular/GolosText_Regular.eot");
  src: url("../fonts/GolosText-Regular/GolosText_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GolosText-Regular/GolosText_Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular/GolosText_Regular.woff") format("woff"), url("../fonts/GolosText-Regular/GolosText_Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Golos';
  src: url("../fonts/GolosText-Bold/GolosText_Bold.eot");
  src: url("../fonts/GolosText-Bold/GolosText_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GolosText-Bold/GolosText_Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold/GolosText_Bold.woff") format("woff"), url("../fonts/GolosText-Bold/GolosText_Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal
}

