extends template

block content
    div.lk-dashboard__title-button
        h1 Запись на прием
        div.lk-dashboard__title-buttons
            +button('cancel', 'Вернуться на главную', '/lk.html')
    div.lk-appointment
        h2 Выберите направление
        div.lk-appointment__card-list.listCard
            div.dashboard-loading-gif
        div.lk-appointment__select-block-1
            h2.lk-appointment__select-title Выберите врача
            select.lk-appointment__select.listDoctor

        div.lk-appointment__select-block-2
            h2.lk-appointment__select-title Выберите дату
            select.lk-appointment__select.listDay
                option(value='2021-10-21') 2021-10-21
                option(value='2021-10-22') 2021-10-22
        div.lk-appointment__select-block-3
            h2.lk-appointment__select-title Выберите время
            select.lk-appointment__select.listTime
                option(value='12:00') 12:00
                option(value='13:00') 13:00

        a(id='create_new_request_btn' class='button button_default')
            | Записаться на прием

block script
    script.
        var info;
        $.ajax({
            url: 'http://localhost:3012/create-new-request',         /* Куда пойдет запрос */
            contentType: 'application/json',
            method: 'get',             /* Метод передачи (post или get) */
            dataType: 'json',          /* Тип данных в ответе (xml, json, script, html). */
            success: function (data) {
                function getRandomInt(max) {
                    return Math.floor(Math.random() * Math.floor(max));
                }
                console.log(data);
                info = data;
                let addCard = [];
                $('.dashboard-loading-gif').remove()
                for(let i = 0; i < data[0].length; i++){
                    for(let a = 0; a < data[1].length; a++){
                        if(data[1][a].id == data[0][i].doc_idDirection & addCard.indexOf(data[1][a].id) == -1){
                            addCard.push(data[1][a].id);
                            let nameCard = data[1][a].dir_title + ' | ' + data[1][a].dir_position;
                            $('.listCard').append('<div class="lk-appointment__card" positionCard_id="' + data[1][a].id + '" ><img class="lk-appointment__card-img" src="/image/app' + (Number(getRandomInt(3)) + 1).toString() + '.png"><span class="lk-appointment__card-name">' + nameCard + '</span> <input type="radio" value="' + nameCard + '" name="type-select" id="card_' + data[1][a].id + '"> <label for="card_' + data[1][a].id + '">Выбрать</label> </div>');
                        }
                    }
                }

                if ($('.lk-appointment').length != 0) {
                    let cards = $('.lk-appointment__card')
                    let block1 = $('.lk-appointment__select-block-1')
                    let block2 = $('.lk-appointment__select-block-2')
                    let block3 = $('.lk-appointment__select-block-3')
                    let regButton = $('.lk-appointment .button')

                    block1.find('select').change(function () {
                        block2.addClass('active')
                        block3.removeClass('active')
                        regButton.removeClass('active');
                    });
                    block2.find('select').change(function () {
                        block3.addClass('active');
                        regButton.removeClass('active');
                    });
                    block3.find('select').change(function () {
                        regButton.addClass('active');
                    });
                    cards.each(function () {
                        let currentCard = $(this);
                        let button = $(this).find('label');

                        button.click(function () {
                            $('.listDoctor').html('');
                            let cardId = currentCard.attr('positionCard_id');
                            console.log(cardId);
                            for (let i = 0; i < data[0].length; i++) {
                                if(data[0][i].doc_idDirection == cardId){
                                    let doctorName = data[0][i].doc_lastName + ' ' + (data[0][i].doc_name).charAt(0) + '. ' + (data[0][i].doc_secondName).charAt(0) + '.';
                                    $('.listDoctor').append('<option value="' + data[0][i].id + '">' + doctorName + '</option>');
                                }
                            }

                            $('select').niceSelect("update");

                            cards.each(function () {
                                $(this).css('opacity', '20%')
                                $(this).removeClass('selectCard');
                            })
                            currentCard.css('opacity', '100%')
                            currentCard.addClass('selectCard');
                            block1.addClass('active');
                            block2.removeClass('active');
                            block3.removeClass('active');
                            regButton.removeClass('active');
                        })
                    })
                }

            }
        });



