extends template

block content
    div.lk-dashboard__title-button
        h1 Мои записи
        div.lk-dashboard__title-buttons
            +button('cancel', 'Вернуться на главную', '/lk.html')
            +button('default', 'Записаться на прием', '/appointment.html')
    div.lk-my-schedule
        div.lk-my-schedule__row.newShedule
            div.dashboard-loading-gif

block script
    script.
        let checkShedule = {
            "id": Cookies.get('idProf')
        };

        $.ajax({
            url: 'http://localhost:3012/get-request',         /* Куда пойдет запрос */
            contentType: 'application/json',
            method: 'get',             /* Метод передачи (post или get) */
            dataType: 'json',          /* Тип данных в ответе (xml, json, script, html). */
            data: checkShedule,     /* Параметры передаваемые в запросе. */
            success: function (data) {
                console.log(data);
                $('.dashboard-loading-gif').remove()
                for (let i = 0; i < data[0].length; i++) {
                    let doctorName = '';
                    let doctorRoom = '';
                    let doctorWork = '';
                    for (let a = 0; a < data[1].length; a++) {
                        if (data[1][a].id == data[0][i].req_idDoctor) {
                            doctorName = data[1][a].doc_lastName + ' ' + (data[1][a].doc_name).charAt(0) + '. ' + (data[1][a].doc_secondName).charAt(0) + '.';
                            doctorRoom = data[1][a].room;
                            for (let b = 0; b < data[2].length; b++) {
                                if (data[2][b].id == data[1][a].doc_idDirection) {
                                    doctorWork = data[2][b].dir_position
                                }
                            }
                            console.log(doctorWork);
                        }
                    }
                    $('.newShedule').append('<div class="lk-dashboard__card lk-card lk-card_navy-blue" newRequest-id="' + data[0][i].id + '"> <div class="lk-card__time"> <div class="lk-card__2rows"> <div class="lk-card__text lk-card__text_bold">' + data[0][i].req_date + ' — ' + data[0][i].time + '</div> </div> </div> <div class="lk-card__doctor"> <div class="lk-card__2rows"> <div class="lk-card__text lk-card__text_bold">' + doctorWork + '</div> <div class="lk-card__text lk-card__text_small">' + doctorName + '</div> </div> </div> <div class="lk-card__place"> <div class="lk-card__2rows"> <div class="lk-card__text lk-card__text_bold">Кабинет</div> <div class="lk-card__text lk-card__text_small">' + doctorRoom + '</div> </div><a class="button btn-delete-request button_cancel" newRequest-id-cancel="' + data[0][i].id + '">Отменить</a> </div> </div>');
                }
             }
        });
