extends template

block content
    div.lk-dashboard__title-button
        h1 Название записи
        div.lk-dashboard__title-buttons
            +button('cancel', 'Вернуться на главную', '/lk.html')
            +button('default', 'Записаться на прием', '/appointment.html')
    div.lk-single-news
        p.lk-single-news__text Хронические заболевания легких, наряду с болезнями сердца, раком и другими недугами, являются одними из главных причин повышенной смертности во всем мире. Особенно актуальна значимость профилактики хронических заболеваний легких в период пандемии COVID-19. Хотя вирус может поражать не только легкие, но и сердце, печень и даже клетки мозга, наибольшую опасность для здоровья представляет нарушение функций органов дыхания. Сохранение здоровья легких – это важнейшая ....
        span.lk-single-news__date 11.01.2021