script(src='js/lib/jquery.min.js')
script(src='js/lib/jquery.nice-select.min.js')
script(src='js/lib/js.cookie.min.js')
script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
script(src='js/lib.min.js')
